@use "../styles/_variables.module.scss" as vars;
@use "../styles/_mixins.module.scss" as mixs;

.navbar {
  width: 100vw;
  color: white;
  height: mixs.rem(100);
  .navTop {
    background-color: vars.$black-pearl;
    height: mixs.rem(60);
    padding-left: mixs.rem(16);

    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 mixs.rem(12);
      cursor: pointer;
    }
  }
  .navBottom {
    background-color: vars.$mid-night;
    height: mixs.rem(40);
    padding-left: mixs.rem(16);

    & > div {
      height: 100%;
      display: flex;
      align-items: center;

      & div {
        padding: 0 mixs.rem(12);
        cursor: pointer;
        font-size: mixs.rem(14);
      }
    }
  }
}
